@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$secondary: 'Bodoni Moda', sans-serif;
$white: #ffffff;
$black: #000000;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-lancome.es-lancome {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: $white;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: $black;
  }

  .es-title {
    @include text;
    font-family: $secondary;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 30px;

    & span {
      font-weight: 700;
    }
  }

  .es-banner {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 57px;
    margin-bottom: 34px;
    background: url('./images/banner-bg.png') no-repeat center;
    background-size: cover;

    &__image {
      @include img;
    }

    &__description {
      font-family: $regular;
      font-weight: 400;
      font-size: 19px;
      text-align: center;
      color: #000;
    }
  }

  .es-slider {
    position: relative;
    margin-bottom: 30px;

    &__slide {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__image {
      @include img;
      width: 100%;
      min-height: 200px;

      &--desktop {
        display: none;
      }
    }

    &__title {
      @include text;
      margin-bottom: 20px;
      font-family: $secondary;
      font-size: 30px;
      color: $white;
      text-align: center;
    }

    &__description {
      @include text;
      font-family: $regular;
      font-size: 14px;
      margin-bottom: 20px;
      color: $white;
      text-align: center;
    }

    &__link {
      @include text;
      display: block;
      max-width: 220px;
      margin: 0 auto;
      padding: 16px 16px;
      margin-bottom: 16px;
      font-family: $regular;
      color: $black;
      background: $white;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5px;
      transition: all 0.3s ease;
      text-align: center;
      &:hover {
        color: $black;
        background: $white;
      }
    }
  }

  .es-category {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &__item {
      max-width: 395px;
    }

    &__image {
      @include img;
      margin-bottom: 30px;
    }

    &__title {
      @include text;
      font-family: $secondary;
      font-size: 36px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 700;
    }

    &__item-title {
      margin-bottom: 25px;
      font-family: $secondary;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
    }

    &__subtitle {
      @include text;
      font-family: $secondary;
      font-size: 20px;
      text-align: center;
      margin-bottom: 50px;
      text-transform: uppercase;

      &--small {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
      }
    }

    &__item-subtitle {
      @include text;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      max-width: 323px;
      margin: 0 auto;
    }

    &__item-link {
      display: block;
      margin: 0 auto;
      padding: 20px 35px;
      font-family: $secondary;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  }

  .es-category-2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;

    &__items {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__image {
      @include img;
      margin-bottom: 20px;
    }

    &__item-title {
      margin-bottom: 25px;
      font-family: $secondary;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
    }

    &__item-subtitle {
      @include text;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }

    &__item-link {
      display: block;
      margin: 0 auto;
      padding: 20px 35px;
      font-family: $secondary;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  }

  .es-banner-2 {
    background: url('./images/banner-2.png') no-repeat center;
    background-size: cover;
    min-height: 400px;
  }

  .es-banner-3 {
    background: url('./images/banner-3.png') no-repeat center;
    background-size: cover;
    min-height: 400px;
  }

  .es-banner-2,
  .es-banner-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    &__title {
      @include text;
      font-family: $secondary;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
    }

    &__description {
      @include text;
      font-family: $regular;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
    }

    &__link {
      display: block;
      max-width: 300px;
      @include text;
      font-family: $regular;
      color: $white;
      min-width: 195px;
      background: $black;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 16px 16px;
      margin-bottom: 16px;
      border: 1px solid $black;
      border-radius: 5px;
      transition: all 0.3s ease;
      text-align: center;
      &:hover {
        color: $black;
        background: $white;
      }
    }
  }

  .es-banner-3 {
    &__description {
      display: block;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      max-width: 570px;
      text-align: center;
    }
  }

  .es-cross {
    padding: 0 16px;

    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      margin: 0 -16px;
    }
    &__img {
      @include img;
      max-height: 290px;
      max-width: 220px;
      margin-bottom: 20px;

      &--3 {
        margin-right: -50px;
      }

      &--range {
        max-width: 300px;
      }
    }
    &__single {
      max-width: 275px;
      margin-bottom: 25px;
      padding: 0 8px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      &:hover .es-cross__icon {
        transform: scale(1.2);
      }
    }
    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }
    &__subtitle {
      @include text;
      font-family: 'Montserrat';
      font-size: 16px;
      text-align: center;
      margin-bottom: 16px;
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
    &__text {
      @include text;
      font-family: 'Montserrat';
      color: $black;
      font-size: 15px;
      text-align: center;
      margin-bottom: 16px;
    }
    &__item-title {
      @include text;
      min-height: 30px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: $black;
      text-transform: uppercase;

      &--range {
        min-height: 10px;
      }
    }

    &__item-subtitle {
      @include text;
      margin-bottom: 25px;
      display: block;
      margin-top: 10px;
      font-size: 11px;
      text-transform: none;
      color: $black;
      text-align: center;
      min-height: 40px;

      &--range {
        min-height: 100px;
        font-size: 11px;
      }
    }
    &__link {
      @include text;
      font-family: $regular;
      color: $white;
      min-width: 195px;
      background: $black;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 16px 24px;
      margin-bottom: 16px;
      border: 1px solid $black;
      transition: all 0.3s ease;
      text-align: center;
      border-radius: 5px;
      &:hover {
        color: $black;
        background: $white;
      }
    }
    &__packshot {
      position: relative;
      z-index: 1;

      &--1 {
        max-width: 189px;

        &::before {
          position: absolute;
          content: '1';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -15px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--2 {
        max-width: 175px;

        &::before {
          position: absolute;
          content: '2';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -68px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
      &--3 {
        &::before {
          position: absolute;
          content: '3';
          font-family: 'Roboto';
          color: #ebebeb;
          font-size: 160px;
          top: -50px;
          left: -60px;
          line-height: 1;
          z-index: -1;
        }
      }
    }

    &__packshot-icon {
      @include img;
      margin-bottom: 10px;
    }
  }

  .es-video {
    padding-left: 15px;
    padding-right: 15px;

    &__wrapper {
      position: relative;
      margin-bottom: 50px;
    }
    &__player {
      display: block;
      margin: 0 auto;
      width: 95%;
      -o-object-fit: cover;
      object-fit: cover;
      min-height: 225px;
    }
    &__play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    &__image-icon {
      width: 53px;
      height: 53px;

      &--desktop {
        width: 116px;
        height: 116px;
      }
    }
    &__additional-description {
      min-width: 320px;
      margin-bottom: 32px;
      strong {
        text-transform: none;
      }
    }
    &__player {
      &--desktop {
        display: none;
      }
    }
    &__play-button {
      &--desktop {
        display: none;
      }
    }
    &__title {
      @include text;
      margin-bottom: 10px;
      font-family: $secondary;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      text-transform: uppercase;
    }
    &__subtitle {
      @include text;
      font-family: $secondary;
      font-size: 25px;
      text-align: center;
      text-transform: uppercase;
    }
    &__disclaimer {
      @include text;
      font-family: $regular;
      font-size: 15px;
      text-align: center;
    }
  }

  .slick-button-prev {
    position: absolute;
    top: 35%;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-next {
    position: absolute;
    top: 35%;
    right: 15px;
    cursor: pointer;
  }

  .slick-button-2-prev {
    position: absolute;
    bottom: 0;
    left: 15px;
    rotate: 180deg;
    cursor: pointer;
  }

  .slick-button-2-next {
    position: absolute;
    bottom: 0;
    right: 15px;
    cursor: pointer;
  }

  .slick-pagination-2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    gap: 0 4px;
    padding: 0;
    margin: 0;
    bottom: 3%;
    left: 50%;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #898b8d;
    opacity: 1;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 6px;
  }

  .slick-dots li.slick-active {
    background: #d9d9d9;
  }

  .slick-dots li button {
    display: none;
  }

  .slick-slide {
    opacity: 0.7;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-arrow.slick-disabled {
    display: none !important;
  }

  @media screen and (min-width: 560px) {
    .es-cross {
      &__container {
        max-width: 628px;
        margin: 0 auto;
        gap: 10px;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: flex-end;
      }
    }

    .es-video {
      &__player {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
          min-height: 507px;
        }
      }
      &__play-button {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-category {
      &__items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
      }
    }

    .es-category-2 {
      &__items {
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      &__item {
        max-width: 50%;
      }

      &__item-title {
        font-size: 24px;
        text-align: left;
      }

      &__item-text {
        font-size: 16px;
        line-height: 1.4;

        &--large {
          text-transform: uppercase;
        }
      }

      &__item-disclaimer {
        display: block;
        font-size: 12px;
        text-align: left;
      }
    }

    .es-slick-carousel--mobile,
    .slick-button-prev,
    .slick-button-next {
      display: none;
    }

    .slick-pagination-2,
    .slick-button-2-prev,
    .slick-button-2-next {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .es-slider {
      &__image {
        &--desktop {
          display: block;
        }

        &--mobile {
          display: none;
        }
      }
    }
    .es-title {
      margin-bottom: 20px;
      font-size: 30px;
      text-align: center;
    }

    .es-cross {
      &__container {
        max-width: 800px;
      }
    }

    .es-banner {
      min-height: 180px;

      &__image {
        width: 30%;
      }
    }
  }

  @media screen and (min-width: 860px) {
    .es-cross {
      &__container {
        justify-content: space-around;
      }
      &__title {
        margin-bottom: 40px;
      }
      &__text {
        min-height: 75px;
      }
      &__img {
        max-height: 366px;

        &--2 {
          max-width: 274px;
        }
        &--3 {
          max-width: 236px;
          margin-right: 0;
        }
      }
      &__packshot {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 300px;

        &--2 {
          max-width: 250px;

          &::before {
            left: 33%;
            top: -20px;
          }
        }

        &--3 {
          &::before {
            left: 25%;
            top: -20px;
          }
        }
      }
    }

    .es-title {
      font-size: 25px;
    }

    .es-category {
      &__title {
        margin-bottom: 24px;
        font-size: 45px;
      }

      &__subtitle {
        font-size: 30px;

        &--small {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (min-width: 925px) {
    .es-cross {
      gap: 1px;
      &__img {
        max-width: 215px;
        max-height: 366px;

        &--range {
          max-width: 300px;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-slider {
      &__slide {
        min-height: 450px;
      }
    }

    .slick-dots {
      left: 47%;
    }

    .es-cross {
      &__container {
        max-width: none;
      }

      &__single {
        max-width: 220px;
        justify-content: space-between;

        &--range {
          max-width: 283px;
        }
      }
      &__link {
        min-width: 214px;
      }
      &__text {
        max-width: 245px;
      }
      &__packshot {
        &--1 {
          &::before {
            top: -45px;
            left: -47px;
            font-size: 200px;
          }
        }
        &--2 {
          &::before {
            top: -50px;
            font-size: 200px;
          }
        }
        &--3 {
          &::before {
            top: -50px;
            font-size: 200px;
          }
        }
      }
    }

    .es-banner {
      padding-top: 50px;
      padding-bottom: 0;
      margin-bottom: 34px;
    }
  }

  @media screen and (min-width: 1300px) {
    .es-slider,
    .es-cross,
    .es-video {
      margin-bottom: 20px;
    }

    .es-category {
      margin-bottom: 60px;
    }
  }

  @-webkit-keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
